@import "mixins";
// Blog styling
.blog {
	main, aside {
		margin-bottom: 40px;
		margin-top: 40px;
	}
	main {
		padding-right: 40px;
	}
	aside {
		padding-left: 40px;
		ol {
			font-size: 1.4em;
			margin: 20px 0 60px;
			list-style: none;
		}
		li {
			margin-bottom: 10px;
		}
		time {
			display: block;
			font-size: .9em;
		}
	}
}
.post {
	margin-bottom: 65px;
	padding-bottom: 35px;
	position: relative;
	
	&:last-child {
		padding-bottom: 0;
	}
}

.post-meta {
	@include clearfix;
	font-size: 1.4rem;
	margin-bottom: 10px;
	time {
		&:after {
			content: "in";
			display: inline-block;
			margin: 0 4px;
		}
	}
}
.post-author,
.post-tag,
.post time {
	display: inline-block;
	float: left;
	// margin-right: 10px;
}
.post-tags {
	// float: right;
	text-transform: capitalize;
}
.post-image {
	margin-bottom: 15px;
}
.continue-link {
	display: block;
	font-size: 1.4rem;
	text-align: right;
}
