<% wrap_layout :layout do %>
	<main role="main">
		<div class="row">
			<div class="medium-12 columns">
			<%= yield %>
			</div>
		</div>
  </main>
<% end %>

<!-- this is for privacy policy and terms and conditions -->
