---
title: Site Name -  Privacy Policy
description: Description Site Name
style: md
---


<h1>PRIVACY POLICY</h1>
<p>Please read this privacy policy (the &quot;Privacy Policy&quot;) carefully to understand how CWE Manager, LLC, the owner of the Site Name<small class="trademark">&trade;</small> brand and website at www.crowdwithease.com, its subsidiaries and affiliates, successors, assigns, vendors and third-party suppliers (collectively referred to herein as &quot;Site Name<small class="trademark">&trade;</small>&quot;) uses and protects the information provided to Site Name<small class="trademark">&trade;</small> by any individual person or entity who accesses, uses or registers to use Site Name<small class="trademark">&trade;</small> Properties as defined herein (&quot;you&quot; or &quot;your&quot;).  This Privacy Policy applies to the website www.crowdwithease.com and any variations or successors to it (the &quot;Site Name<small class="trademark">&trade;</small> Site&quot;), any domain address that resolves to the Site Name<small class="trademark">&trade;</small> Site, any Site Name<small class="trademark">&trade;</small> computer software or applications downloadable or otherwise available from the Site Name<small class="trademark">&trade;</small> Site (&quot;Site Name<small class="trademark">&trade;</small> Software&quot;) and any Site Name<small class="trademark">&trade;</small> services purchased or otherwise made available from the Site Name<small class="trademark">&trade;</small> Site (&quot;Site Name<small class="trademark">&trade;</small> Services&quot;) (the Site Name<small class="trademark">&trade;</small> Site, the Site Name<small class="trademark">&trade;</small> Software and the Site Name<small class="trademark">&trade;</small> Services are collectively referred to as the &quot;Site Name<small class="trademark">&trade;</small> Properties&quot;).</p>
<p>This Privacy Policy applies to you and is incorporated into and is a part of the <a href="/terms">Terms and Conditions</a> (the &quot;Terms and Conditions&quot; or the &quot;Agreement&quot;) of the Site Name<small class="trademark">&trade;</small> Site.</p>
<p>Your using, accessing or registering to use Site Name<small class="trademark">&trade;</small> Properties is subject to the Terms and Conditions and this Privacy Policy, and indicates your agreement and acknowledgement to be bound by them.</p>
<p>For purposes of this Privacy Policy, &quot;Materials&quot; refers to, without limitation, any and all audio and visual works or content in any medium or format, including, without limitation, film, video, text, logos, artwork, graphics, pictures, images, advertisements, aural and other forms of expression, whether in still, live, animated or streaming format, contained in works posted, uploaded or provided to Site Name<small class="trademark">&trade;</small>, the Site Name<small class="trademark">&trade;</small> Properties, or into the technologies described herein, in any method or form, by you, or anyone on your behalf.</p>
<ol>
  <li>
    <h2>Types of Information Site Name<small class="trademark">&trade;</small> Collects from You</h2>
<ol>
<li>
&quot;<u>Personal Information.</u>&quot;Personal Information refers to information that lets Site Name know the specifics of who you are and that may be used to identify, contact or locate you.  Personal Information may include your name, mailing address, telephone number, e-mail address, billing address, payment information, financial institution information, information about uploads, Internet Protocol (IP) address and the device used to upload the Materials (this data may be meta-data embedded in the Materials) and other information relating to uploaded Materials or that may be used to identify, contact, or locate you.  Site Name<small class="trademark">&trade;</small> may collect Personal Information when you use the Site Name<small class="trademark">&trade;</small> Properties including, without limitation, when you set up your account, upload or download Materials, correspond or otherwise communicate with Site Name<small class="trademark">&trade;</small> through the Internet, or otherwise volunteer information about yourself.
</li>
<li>
&quot;<u>Non-Personal Information.</u>&quot;  Non-Personal Information refers to information that, by itself, does not identify you or could not be used to identify you as a specific individual (e.g., demographic information, website visitations, or other actions you may take).  Site Name<small class="trademark">&trade;</small> may collect Non-Personal Information through any of the methods discussed above as well as automatically through use of various technologies, some of which are described further below.
</li>
</ol>
</li>
  <li>
    <h2>How Site Name<small class="trademark">&trade;</small> Collects Your Information</h2>
<ol>
<li>
<u>Registration.</u>  Prior to your using one or more of the Site Name<small class="trademark">&trade;</small> Properties, Site Name<small class="trademark">&trade;</small> may require certain Personal Information and Non-Personal Information to create a Site Name<small class="trademark">&trade;</small> account (&quot;Account&quot;) or to enable features or functionality of the Site Name<small class="trademark">&trade;</small> Properties.  Failure to provide all information required by Site Name<small class="trademark">&trade;</small> may prevent access to any or all the Site Name<small class="trademark">&trade;</small> Properties, and failure to maintain accurate information may result in suspension or termination of access to any or all the Site Name<small class="trademark">&trade;</small> Properties.
</li>
<li>
<u>Uploading and Downloading Materials.</u>  If you use the Site Name<small class="trademark">&trade;</small> Services and you upload or post Materials to or download Materials from the Site Name<small class="trademark">&trade;</small> Properties, the Materials may include meta-data or be transmitted with data, such as, without limitation, the type of device through which the Materials were created, the device's IP address, the domain name of your Internet service provider and other such data.  This data may necessarily be provided to and collected by Site Name<small class="trademark">&trade;</small> when Materials are uploaded, posted to or downloaded from the Site Name<small class="trademark">&trade;</small> Properties.
</li>
<li>
<u>Information Collected Through Technology.</u>  While you are able to visit the Site Name<small class="trademark">&trade;</small> Site and remain anonymous, Site Name<small class="trademark">&trade;</small> or its third party service providers may still collect Personal Information and Non-Personal Information about your use of the Site Name<small class="trademark">&trade;</small> Properties (e.g., your Internet browser, operating system, IP address, connection speed, and the domain name of your Internet service provider).  Such information may be gathered by the following methods:<br><br>
<ol>
<li>
<u>Cookies.</u>  Cookies, including local shared objects, are small pieces of information that are stored by your browser on your computer's or device's hard drive which work by assigning to your computer or device a unique number that has no meaning outside of the Site Name<small class="trademark">&trade;</small> Site.  Cookies do not generally contain any Personal Information.  Most web browsers automatically accept cookies, but you can usually configure your browser to prevent this.  Not accepting cookies may make certain features of the Site Name<small class="trademark">&trade;</small> Properties unavailable to you, or not perform properly for you.
</li>
<li>
<u>IP Address.</u>  You may visit areas of the Site Name<small class="trademark">&trade;</small> Site anonymously without the need to register an Account.  Even in such cases, Site Name<small class="trademark">&trade;</small> may collect IP addresses automatically.  An IP address is a number that is automatically assigned to your computer or device whenever you begin services with an Internet service provider.  Each time you access the Site Name<small class="trademark">&trade;</small> Site and each time you request one of the Site Name<small class="trademark">&trade;</small> pages, the server logs the IP address.
</li>
<li>
<u>Web Beacons.</u>  Web beacons are small pieces of data that are embedded in web pages and e-mails.  Site Name<small class="trademark">&trade;</small> may use these technical methods in HTML e-mails that Site Name<small class="trademark">&trade;</small> sends to you to determine whether you have opened those e-mails and/or clicked on links in those e-mails.  The information from use of these technical methods may be collected in a form that is Personal Information.
</li>
<li>
<u>Tracking Materials Usage.</u>  If you use the Site Name<small class="trademark">&trade;</small> Services and you upload or post Materials to, or download Materials from, the Site Name<small class="trademark">&trade;</small> Properties or to or from a third party website, Site Name<small class="trademark">&trade;</small> tracks and captures Personal and Non-Personal Information associated with registered Accounts and the use of Materials.
</li>
</ol>
</li>
</ol>
  <li>
    <h2>How Site Name<small class="trademark">&trade;</small> Uses Your Information</h2>
<ol>
<li>
<u>System Administration.</u>  Site Name<small class="trademark">&trade;</small> may use Non-Personal Information for the purposes of system administration, assisting in diagnosing problems with Site Name<small class="trademark">&trade;</small> servers, monitoring Site Name<small class="trademark">&trade;</small>'s system performance and traffic on the Site Name<small class="trademark">&trade;</small> Properties and to gather broad demographic information about Site Name<small class="trademark">&trade;</small> customers.
</li>
<li>
<u>Personalization.</u>  Site Name<small class="trademark">&trade;</small> may use Cookies and IP Addresses to track features such as delivering Materials specific to your interests and informing you of new, relevant services or certain third party offerings.
</li>
<li>
<u>Performance of Services of the Site Name<small class="trademark">&trade;</small> Properties.</u>  If you have registered for an Account, Site Name<small class="trademark">&trade;</small> may use your Personal Information to make payments to you; to receive payments from you; to offer services to you; and to procure services from you and to communicate with you about these activities.
</li>
<li>
<u>Notices to Registered Users.</u>  If you have registered for an Account, Site Name<small class="trademark">&trade;</small> may use your Personal Information to send e-mails to you regarding your registration, including confirmation to verify the accuracy of any information you have provided, and instructions on how to post Materials, make a payment or receive a payment or refund.  Site Name<small class="trademark">&trade;</small> may also send you e-mails to verify your identity or to notify you if Site Name<small class="trademark">&trade;</small> believes your use of Site Name<small class="trademark">&trade;</small> Properties violates any applicable agreement for the use of the Site Name<small class="trademark">&trade;</small> Properties.
</li>
<li>
<u>Advertising.</u>  Site Name<small class="trademark">&trade;</small> may use Non-Personal Information to assist in optimizing the delivery of advertisements to viewers of your Materials.
</li>
<li>
<u>Promotional E-mails.</u>  Site Name<small class="trademark">&trade;</small> may use your Personal Information to send you e-mails periodically listing promotions or events relating to the Site Name<small class="trademark">&trade;</small> Properties or from Site Name<small class="trademark">&trade;</small>'s marketing partners or sponsors.  You have the choice to opt-out of receiving such promotional e-mails by sending an e-mail to help@crowdwithease.com and/or following the instructions in such correspondence.
</li>
<li>
<u>Contact Information.</u>  If you contact Site Name<small class="trademark">&trade;</small> by any means, Site Name<small class="trademark">&trade;</small> may keep a record of your contact information and correspondence.  If you report a problem with the Site Name<small class="trademark">&trade;</small> Properties, Site Name<small class="trademark">&trade;</small> may collect this information in a file specific to you. 
</li>
</ol> 
</li>
<li>
<h2>How to Access and Change Your Personal Information</h2>
<p>Upon request, Site Name<small class="trademark">&trade;</small> shall allow you to update or correct Personal Information previously submitted, but only to the extent such activities will not compromise privacy or security interests, as determined by Site Name<small class="trademark">&trade;</small> at its sole discretion.  Additionally, upon request, Site Name<small class="trademark">&trade;</small> shall delete Personal Information from the database where such information is stored; however, it may be impossible to entirely delete your entry without some residual information being retained due to the manner in which data backups are maintained.</p>
</li>
  <li>
    <h2>Disclosure of Information to Third Parties</h2>
<ol>
<li>
Site Name<small class="trademark">&trade;</small> does not sell, trade or rent Personal Information collected through the Site Name<small class="trademark">&trade;</small> Properties to any third party.  
</li>
<li>
Notwithstanding the foregoing, Site Name<small class="trademark">&trade;</small> may share your Personal Information for the following purposes and to the extent necessary in Site Name<small class="trademark">&trade;</small>'s good-faith discretion:
<ol><br>
<li>
as reasonably necessary for the operation of the Site Name<small class="trademark">&trade;</small> Properties;
</li>
<li>
to fully cooperate with law enforcement agencies;
</li>
<li>
as required upon receipt of a court order, subpoena, or to cooperate with a law enforcement investigation;
</li>
<li>
if Site Name<small class="trademark">&trade;</small> believes your actions violate any law, regulation, the Terms and Conditions or any functions of the Site Name<small class="trademark">&trade;</small> Properties; and
</li>
<li>
in the event of insolvency, bankruptcy, merger, acquisition, sale, joint venture or other business combination involving Site Name<small class="trademark">&trade;</small>.
</li>
</ol>
</li>
</ol>
</li>
<li>
<h2>Safeguarding Your Personal Information</h2>
<ol>
<li>
<u>Security Measures.</u>  Site Name<small class="trademark">&trade;</small> takes appropriate security measures to protect against unauthorized access, alteration, disclosure or destruction of Personal Information.  These include, but are not limited to:<br><br>
<ol>
<li>
Internal reviews of Site Name<small class="trademark">&trade;</small>'s data collection;
</li>
<li>
internal reviews of storage and processing practices;
</li>
<li>
internal reviews of electronic security measures;
</li>
<li>
internal reviews of physical security measures to guard against unauthorized access to systems where Site Name<small class="trademark">&trade;</small> stores Personal Information; and
</li>
<li>
all Site Name<small class="trademark">&trade;</small> employees, contractors and agents who access Personal Information are bound by confidentiality obligations and may be subject to discipline, including termination and criminal prosecution for unauthorized use or disclosure of Personal Information.
</li>
</ol>
</li>
<li>
<u>Third Party Links.</u>  The Site Name<small class="trademark">&trade;</small> Properties may contain links to third parties who may collect Personal Information and Non-Personal Information directly from you.  Additionally, Site Name<small class="trademark">&trade;</small> may use third parties to provide components of the Site Name<small class="trademark">&trade;</small> Properties.  In either case, such third parties may have separate privacy policies and data collection practices, independent of Site Name<small class="trademark">&trade;</small>.  Site Name<small class="trademark">&trade;</small>: <br>
<ol>
<li>
has no responsibility or liability for these independent policies or actions;
</li>
<li>
is not responsible for the privacy practices or the Materials of such websites; and
</li>
<li>
does not make any warranties or representations about the information, content, materials, products or services offered on such websites or the security of any information you provide to them.
</li>
</ol>
</li>
</ol>
</li>
<li>
<h2>International Users and Transfer of Data</h2>
<p>The Site Name<small class="trademark">&trade;</small> Properties are operated from the United States and are subject to United States law.  By providing information to us through the Site Name<small class="trademark">&trade;</small> Properties, you are consenting to the transfer of that information to be processed and used in accordance with the terms of this Privacy Policy.</p>
</li>
<li>
<h2>Changes to Site Name<small class="trademark">&trade;</small>'s Privacy Policy</h2>
<p>Site Name<small class="trademark">&trade;</small> continually strives to implement new technologies and processes to better protect you, your privacy and your use of the Site Name<small class="trademark">&trade;</small> Properties, and to improve the cost-effectiveness of Site Name<small class="trademark">&trade;</small> Software and Site Name<small class="trademark">&trade;</small> Services.  As a result, changes to this Privacy Policy may be made by Site Name<small class="trademark">&trade;</small> from time to time.</p>
</li>
<li>
<h2>Special Note Regarding Minors</h2>
<p>Use of the Site Name<small class="trademark">&trade;</small> Properties is not intended for minors under the age of 18 (&quot;Minors&quot;).  Minors are not authorized by Site Name<small class="trademark">&trade;</small> to use the Site Name<small class="trademark">&trade;</small> Properties, even if Minors set up an Account or accept the terms of any agreement or policy herein for the Site Name<small class="trademark">&trade;</small> Properties.</u>
</li>
<li>
<h2>Contacting Site Name<small class="trademark">&trade;</small></h2>
<p>If you have any questions about this Privacy Policy please contact Site Name<small class="trademark">&trade;</small>:</p>
    <div class="vcard">
      <address>
<p>You may contact us, for any reason, by e-mail as follows:<br><span class="email"><%= partial "shared/email_address" %></span></p>
<p>You may contact us by mail as follows:</p>
<span class="org">CWE Manager, LLC</span>
        <p class="adr">
          <span class="street-address">11121 Carmel Commons Boulevard</span><br>
          <span class="extended-address">Suite 250</span><br>
          <span class="locality">Charlotte</span>, <span class="region">NC</span><span class="postal-code">28226</span>
        </p>
      </address>
    </div>
</li>
</ol>