---
title: Site Name -  Terms &amp; Conditions
description: We are Site Name
style: md
---


<h1>TERMS AND CONDITIONS</h1>
<p>Welcome to the Site Name<small class="trademark">&trade;</small> crowdfunding platform and website, which are operated by CWE Manager, LLC, a Delaware limited liability company (the “Company,” “Site Name<small class="trademark">&trade;</small>,” “we,” or “us”).  These Terms and Conditions (this “Agreement”) govern the contractual relationship between Site Name<small class="trademark">&trade;</small> and the individual person or entity who accesses, uses or registers to use the Site Name<small class="trademark">&trade;</small>  platform or website (“you” or “your”).  Therefore, 
PLEASE READ THE AGREEMENT CAREFULLY, AND IN ITS ENTIRETY, BEFORE ACCESSING, USING OR REGISTERING TO USE THE Site Name<small class="trademark">&trade;</small>  PLATFORM OR WEBSITE, OR ANY WEB ADDRESS THAT RESOLVES TO THE Site Name<small class="trademark">&trade;</small>  WEBSITE, OR CONTENT, SERVICE OR FEATURE AVAILABLE THROUGH THE Site Name<small class="trademark">&trade;</small>  PLATFORM OR WEBSITE (ALL TOGETHER REFERRED TO HERE IN AS THE “Site Name<small class="trademark">&trade;</small>  SITE”).
By accessing, using or registering to use the Site Name<small class="trademark">&trade;</small>  Site: (i) you represent and warrant that you are over the age of 18 and are lawfully able to enter in and agree to the Agreement; (ii) you accept and agree to be bound by the Agreement, including as it may be updated or revised from time to time by Site Name<small class="trademark">&trade;</small> , and all other terms and policies referenced or incorporated herein by reference; and (iii) you represent and warrant that you are authorized to enter in and agree to the Agreement on behalf of any entity if you are accessing, using or registering to use the Site Name<small class="trademark">&trade;</small>  Site on behalf of that entity.</p>
<ol>
  <li>
    <h2>Ownership</h2>
    <p>The Site Name<small class="trademark">&trade;</small>  Site is owned and operated by CWE Manager, LLC.  The Site Name<small class="trademark">&trade;</small>  Site may be protected by U.S., foreign and/or international copyright laws, trademark laws, and/or other intellectual property laws.</p>
  </li>
  <li>
    <h2>Use of the Site Name<small class="trademark">&trade;</small> Site</h2>
  <ol>
    <li>You understand and acknowledge that a purpose of the Site Name<small class="trademark">&trade;</small>  Site is to offer to build and deliver to you a technology platform that permits Accredited Investors (as defined below) and certain other persons to independently connect with issuers of securities relating to investment opportunities that you list on the crowdfunding platform developed and built by us for you (the “Customer Branded Platform”).</li>
    <li>The Site Name<small class="trademark">&trade;</small>  Site shall not be used other than for its intended purposes, as determined in Site Name<small class="trademark">&trade;</small>’s sole discretion.  You are specifically prohibited from using the Site Name<small class="trademark">&trade;</small>  Site to defame, abuse, harass, bully, threaten or otherwise violate the legal rights (such as the rights of privacy and publicity) of others, and/or publish, post, distribute or disseminate any defamatory, infringing, obscene, pornographic, sexual, indecent or unlawful material or information, or engage in criminal behavior, or cause others to engage in any of the aforementioned conduct.</li>
    <li>For persons resident in the United States, only “accredited investors,” as defined in Rule 501 of Regulation D of the Securities Act of 1933, as amended (the “Securities Act”), with a valid username and password, are authorized to access certain services and web pages (such persons being (“Accredited Investors”).  In general, to qualify as an Accredited Investor, individuals must have a net worth of more than $1 million (excluding their primary residence), or gross income for each of the last two years of at least $200,000 ($300,000 jointly with their spouse) with a reasonable expectation of a similarly qualifying income during the current year.  Prior to making any investment through the Customer Branded Platform, those sites will require an investor to provide supporting documents proving that he or she is an Accredited Investor. Persons who are resident outside of the United States are allowed access to such investment opportunities only if such access does not violate the laws of their country of residence.</li>
    </ol>
  </li>
  <li>
    <h2>Securities Offerings; No Professional Advice Provided</h2>
  <ol>
  <li>No offer of or solicitations to purchase securities is conducted on the Site Name<small class="trademark">&trade;</small>  Site.</li>
  <li>The Company is not a registered broker-dealer, funding portal, or investment advisor and does not conduct any activity that would require registration as such.</li>
  <li>The information contained in the Site Name<small class="trademark">&trade;</small> Site has been prepared by the Company without reference to any particular investment requirements or financial situation, and potential customers should consult with their own professional tax, legal and financial advisors before making an investment in a Customer Branded Platform.</li>
    </ol>
  </li>
  <li>
    <h2>Privacy Policy</h2>
    <p>Site Name<small class="trademark">&trade;</small> is committed to protecting your privacy. Please refer to <a href="/privacy">http://crowdwithease.com/privacy</a> for information on how we collect, use and disclose personal information.</p>
  </li>
  <li>
    <h2>Trademarks</h2>
    <p>Site Name<small class="trademark">&trade;</small>  and any other product or service name or slogan contained in the Site Name<small class="trademark">&trade;</small>  Site are trademarks of Site Name<small class="trademark">&trade;</small>  or its content providers, suppliers or licensors, and may not be copied, imitated or used, in whole or in part, without the prior written permission of Site Name<small class="trademark">&trade;</small>  or the relevant trademark owner.  The look-and-feel of the various aspects of the Site Name<small class="trademark">&trade;</small>  Site constitute a service mark, trademark and/or trade dress of Site Name<small class="trademark">&trade;</small>  and may not be copied, imitated or used, in whole or in part, without Site Name<small class="trademark">&trade;</small> ’s prior written permission.</p>
  </li>
  <li>
    <h2>No Warranties</h2>
    <p>The Site Name<small class="trademark">&trade;</small>  Site is provided on an “as is” basis.  Site Name<small class="trademark">&trade;</small>  makes no representation or warranty regarding the accuracy, reliability or completeness of the Site Name<small class="trademark">&trade;</small>  Site or the content of any site linked from the Site Name<small class="trademark">&trade;</small>  Site.  Site Name<small class="trademark">&trade;</small>  disclaims all warranties, express or implied, including, but not limited to, non-infringement, warranties of title, implied warranties of quality, performance, merchantability, fitness for a particular purpose, security and accuracy.  Further, Site Name<small class="trademark">&trade;</small>  does not warrant that the Site Name<small class="trademark">&trade;</small>  Site or the computer server that makes it available is free of viruses.</p>
  </li>
  <li>
    <h2>Updates and Errors</h2>
  <ol>
    <li>The Site Name<small class="trademark">&trade;</small>  Site could contain technical inaccuracies or typographical errors.  Site Name<small class="trademark">&trade;</small>  may make improvements and/or changes to the Site Name<small class="trademark">&trade;</small>  Site at any time.  However, Site Name<small class="trademark">&trade;</small>  has no duty to update the Site Name<small class="trademark">&trade;</small>  Site, and Site Name<small class="trademark">&trade;</small>  shall not be liable for any failure to update such information.</li>
    <li>You agree and acknowledge that Site Name<small class="trademark">&trade;</small> and each and every of its officers, directors, employees, and agents will not be liable, whether in contract, tort, strict liability or otherwise, for any indirect, punitive, special, consequential or incidental damages (including without limitation, lost profits, cost of procuring substitute service or lost opportunity) relating to, arising out of or in connection with the use of the Site Name<small class="trademark">&trade;</small>  Site or a linked site, or the delay or inability to use the Site Name<small class="trademark">&trade;</small>  Site or a linked site, even if Site Name<small class="trademark">&trade;</small>  was made aware of the possibility of such damages.  This limitation on liability includes, but is not limited to, the transmission of any viruses, failure of mechanical or electronic equipment or communication lines, telephone or other interconnect problems, unauthorized access, theft, operator errors, strikes or other labor problems or any _force majeure_.  Site Name<small class="trademark">&trade;</small>  cannot and does not guarantee continuous, uninterrupted or secure access to the Site Name<small class="trademark">&trade;</small> Site.</li></ol>
    </li>
  <li>
    <h2>Linked Internet Sites</h2>
  <ol>
    <li>Site Name<small class="trademark">&trade;</small>  prohibits caching and the framing of any content available through the Site Name<small class="trademark">&trade;</small>  Site.  Site Name<small class="trademark">&trade;</small>  reserves the right to disable any unauthorized links or frames and specifically disclaims any responsibility for the contents of any other Internet sites linked to the Site Name<small class="trademark">&trade;</small>  Site.  Access to any other Internet sites linked to the Site Name<small class="trademark">&trade;</small>  Site is at the user’s own risk.</li>
    <li>Site Name<small class="trademark">&trade;</small>  is not responsible for, and does not adopt or otherwise incorporate by reference, any rule, regulation, privacy provision, confidentiality provision, transmission of personal data provision, or other provision from a linked Internet site that differs from those provisions provided on the Site Name<small class="trademark">&trade;</small>  Site.  Site Name<small class="trademark">&trade;</small>  expressly disclaims any and all liability related to any such provision set forth on a linked Internet site.</li>
    </ol>
  </li>
  <li>
    <h2>Indemnity</h2>
    <p>You agree to indemnify and hold Site Name<small class="trademark">&trade;</small>, its affiliates, and each of its respective directors, officers, employees, shareholders, partners and agents (collectively, the “Site Name<small class="trademark">&trade;</small>  Parties”) harmless from and against any and all claims, liability, losses, damages, costs and expenses (including reasonable legal fees) incurred by any Site Name<small class="trademark">&trade;</small>  Party arising out of, as a result of or in connection with any breach or alleged breach by you or anyone acting on your behalf of any term set forth in the Agreement.</p></li>
  <li>
    <h2>Registering For an Account</h2>
  <ol>
    <li>To obtain full access to the Site Name<small class="trademark">&trade;</small>  Site, you may be asked to apply for an account, and you agree to provide complete, true and accurate information when doing so.  You agree to maintain such information current and accurate and all times.  Site Name<small class="trademark">&trade;</small>  reserves sole discretion over whether to grant you an account, and you agree to access the authorized sections of the Site Name<small class="trademark">&trade;</small>  Site and your account only by using the account number or username and password supplied to you by Site Name<small class="trademark">&trade;</small> .  You may subsequently change your username and password.</li>
    <li>You are responsible for maintaining the confidentiality of your account access information.  You agree to take reasonable steps to prevent others from obtaining your access information and to notify Site Name<small class="trademark">&trade;</small>  of any unauthorized access or need to update or remove access for any of your employees or agents.</li>
    </ol>
  </li>
  <li>
    <h2>Confidentiality of Information</h2>
  <ol>
    <li>Should you receive information from the Company or through the Site Name<small class="trademark">&trade;</small>  Site with respect to any investment activity, you may not further disclose or otherwise provide such information to another party.</li>
    <li>You are entrusted with any information you receive on this Site Name<small class="trademark">&trade;</small>  Site from the Company.  You acknowledge and agree to keep such information confidential.  You agree that the Company, at its sole discretion and to the extent permitted by law, may access, read, preserve and disclose your account information, usage history and submitted content in order to: (a) comply with any applicable law, regulation, legal process, or governmental request; (b) respond to claims that any such content violates the rights of third parties, including intellectual property rights; (c) enforce this Agreement and investigate potential violations thereof; (d) detect, prevent, or otherwise address fraud, security, or technical issues; (e) respond to your requests for customer service; or (f) protect the rights, property, or personal safety of the Company, users of the Site Name<small class="trademark">&trade;</small>  Site, or the public.</li>
    </ol>
  </li>
  <li>
    <h2>Your Content</h2>
  <ol>
    <li>By uploading, posting, blogging, or otherwise providing content to the Site Name<small class="trademark">&trade;</small>  Site for the purposes stated herein, you hereby grant Site Name<small class="trademark">&trade;</small>  a perpetual, irrevocable, worldwide right and license to copy, use, reproduce, distribute, redistribute, publish, republish, upload, post, transmit, broadcast, modify, alter, create derivative works of, package, repackage, produce and sell copies of such content through the Site Name<small class="trademark">&trade;</small>  Site.</li>
    <li>You acknowledge that Site Name<small class="trademark">&trade;</small>  prohibits the uploading, posting, blogging, or otherwise providing to the Site Name<small class="trademark">&trade;</small>  Site any content or any other material that infringes on any patent, trademark, copyright, trade secret, right of privacy, right of publicity, or any other applicable law or proprietary right.</li>
    <li>By uploading, posting, blogging, or otherwise providing content to the Site Name<small class="trademark">&trade;</small>  Site, you represent and warrant that:
    <ol>
        <li>you have the legal capacity and authority to grant the rights and license set forth herein;</li>
        <li>the content that you submit to the Site Name<small class="trademark">&trade;</small> Site does not infringe any copyright, trademark, right of privacy or right of publicity or other proprietary right of any third party, or defames or casts into disrepute in any manner any third party; and</li>
        <li>the content that you submit to the Site Name<small class="trademark">&trade;</small> Site is or was not obtained in an unlawful way that can lead to civil or criminal liabilities.  You indemnify and hold Site Name<small class="trademark">&trade;</small>  harmless from any claims concerning or relating to content that you upload, post, blog, or otherwise provide to the Site Name<small class="trademark">&trade;</small> Site.</li>
        </ol>
      </li>
    <li>You agree that Site Name<small class="trademark">&trade;</small>  and its directors, officers, employees, partners or agents shall not be liable for any damages, whether direct, indirect, consequential or incidental, relating to, arising out of or in connection with the use of, or the inability to use, content that you upload, post, blog, or otherwise provide to the Site Name<small class="trademark">&trade;</small>  Site.</li>
    <li>Site Name<small class="trademark">&trade;</small>  reserves the right to take any actions that it deems necessary to protect its rights, all rights of which are specifically reserved.</li>
    </ol>
  </li>
  <li>
    <h2>Notification of Copyright Infringement</h2>
  <ol>
    <li>
        <p>Site Name<small class="trademark">&trade;</small> respects the intellectual property rights of others and has established the following procedure for receiving notice of infringement in compliance with the Digital Millennium Copyright Act (“DMCA”).  Notices should be submitted to Site Name<small class="trademark">&trade;</small>’s copyright Agent:</p>
        <div class="vcard">
          <address>
            <span class="fn">Matthew Kushy</span>
            <p class="adr">
              <span class="street-address">11121 Carmel Commons Boulevard</span><br>
              <span class="extended-address">Suite 250</span><br>
              <span class="locality">Charlotte</span>, <span class="region">NC</span><span class="postal-code">28226</span>
            </p>
            <p>
              <span class="tel">(704) 973-7385</span><br>
              <span class="email"><%= partial "shared/email_address" %></span>
            </p>
          </address>
        </div>
      </li>
      <li>To be effective, the notice should include:
        <ol>
          <li>A physical or electronic signature of a person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed;</li>
          <li>Identification of the copyrighted work claimed to have been infringed, or a representative list of such works;</li>
          <li>Identification of the material that is claimed to be infringing or to be the subject of infringing activity and that is to be removed or disabled, and information reasonably sufficient to permit Site Name<small class="trademark">&trade;</small>  to locate the material on the Site Name<small class="trademark">&trade;</small>  Site;</li>
          <li>Information reasonably sufficient to permit Site Name<small class="trademark">&trade;</small>  to contact the complaining party, such as an address, telephone number, and, if available, an electronic mail address at which the complaining party may be contacted;</li>
          <li>A statement that the complaining party has a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law;</li>
          <li>A statement that the information in the notification is accurate, and under penalty of perjury, that the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
        </ol>
      </li>
    </ol>
  </li>
  <li>
    <h2>Violation of Agreement</h2>
    <ol>
      <li>Site Name<small class="trademark">&trade;</small>  reserves the right to seek all remedies available at law and in equity for violations of the Agreement, including the right to block access from a particular Internet address to the Site Name<small class="trademark">&trade;</small>  Site, or report misuses to law enforcement.</li>
      <li>Site Name<small class="trademark">&trade;</small>  operates the Site Name<small class="trademark">&trade;</small>  Site and reserves the right to change the Agreement at any time and from time to time without notice.  The failure of Site Name<small class="trademark">&trade;</small>  to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision.  The section titles herein are for convenience only and have no legal or contractual effect.</li>
    </ol>
  </li>
  <li>
    <h2>Access to Password Protected/Secure Areas</h2>
    <p>Access to and use of password protected and/or secure areas of the Site Name<small class="trademark">&trade;</small>  Site is restricted to authorized users only.  Unauthorized individuals attempting to access these areas of the Site Name<small class="trademark">&trade;</small>  Site may be subject to prosecution.</p>
  </li>
  <li>
    <h2>Termination</h2>
  <ol>
    <li>Notwithstanding anything in the Agreement, Site Name<small class="trademark">&trade;</small> reserves the right, without notice and in its sole discretion, to terminate the Agreement, your account, and/or to block your use of the Site Name<small class="trademark">&trade;</small> Site.</li>
    <li>You may terminate your relationship with, access to and use of the Site Name<small class="trademark">&trade;</small>  Site at any time by canceling your account through your account page on the Site Name<small class="trademark">&trade;</small> Site.</li>
    </ol>
  </li>
  <li>
    <h2>Jurisdiction and Venue</h2>
    <p>This Site is controlled and operated by Site Name<small class="trademark">&trade;</small>  from its offices within the United States of America.  Any claim relating to the Site Name<small class="trademark">&trade;</small>  Site shall be governed by the internal substantive laws of the State of New York.  You and Site Name<small class="trademark">&trade;</small>  agree to submit to the personal and exclusive jurisdiction of the courts located within the state of New York.  You agree that regardless of any statute or law to the contrary, any claim or cause of action by you against Site Name<small class="trademark">&trade;</small>  arising out of, in connection with or related to your use of the Site Name<small class="trademark">&trade;</small>  Site or the Agreement must be filed by you within one (1) year after such claim or cause of action arose.</p>
  </li>
  <li>
    <h2>Questions and contact information</h2>
    <p>For questions regarding Site Name<small class="trademark">&trade;</small> ’s service or the Agreement, please contact Site Name<small class="trademark">&trade;</small> at info@CrowdWithEase.com.</p>
  </li>
</ol>